create
profileName={{profileName}}
profilePath=/{{home}}/IBM/WebSphere/AppServer/profiles/{{profileName}}
templatePath=/{{home}}/IBM/WebSphere/AppServer/profileTemplates/default
nodeName={{nodeName}}
cellName=wascell
hostName={{hostName}}
personalCertValidityPeriod=15
signingCertValidityPeriod=25
defaultPorts


