<h1>{{ inventory_hostname | default(' ') }}</h1>
<p><b>{{ uptime.stdout | default(' ') }}</b></p>
<p>{{ win_update.updates | default(' ') }}</p>
<p>{{ needsrestart.stdout_lines[-2:] | default(' ') }}</p>

