<tr>
    <td>
    <b>{{ inventory_hostname | default(' ') }}</b>         
    </td>

    <td>
    {% if win_update.changed %}
        Updated
    {% else %}
        OK
    {% endif %}
    </td>

    <td>
    {% if win_update.reboot_required | default(false) %}
        Reboot Required
    {% else %}
        OK
    {% endif %}
    </td>

    <td> 
    {% if win_update.reboot_required | default(false) %}
        {% if win_reboot.rebooted | default(false) %}
            Rebooted
        {% else %}
            Reboot Required
        {% endif %}
    {% else %}
        OK
    {% endif %}
    </td>
</tr>
