<td>
    <tr> <b>{{ inventory_hostname | default(' ') }}</b>         </tr>
    <tr> {{ win_update.changed | default('a') }}                </tr>
    <tr> {{ win_update.reboot_required | default('b')  }}       </tr>
    <tr> {{ win_reboot.rebooted | default('c')  }}              </tr>
<td>
