<td>
    <tr> <b>{{ inventory_hostname | default(' ') }}</b>         </tr>
    <tr>             
    {% if win_reboot.changed %}
        Updated
    {% else %}
        OK
    {% endif %}
    </tr>
    <tr>
    {% if win_reboot.reboot_required | default(false) %}
        Reboot Required
    {% else %}
        OK
    {% endif %}
    </tr>
    <tr> 
    {% if win_reboot.rebooted | default(false) %}
        Rebooted
    {% else %}
        {% if win_reboot.reboot_required | default(false) %}
            Reboot Required
        {% else %}
            OK
        {% endif %}
    {% endif %}
    </tr>
<td>
