{% for host in play_hosts %}
{% endfor %}
{{inventory_hostname}} : {{yum_updates.msg | default(' ')}}
{% if needsrestart.rc == 1 %}
Needs Restart
{% else %}
OK
{% endif %}

{% if needsrestart2.rc == 1 %}
Needs Restart
{% else %}
OK
{% endif %}
<BR>
